@import '../mixins';

.carousel--container {
    margin: 0 auto;
    display: flex;
    & button {
        font-size:1.2em;
        height:2.5em;
        width: 2.5em;
        margin: 1vw;
        align-self: center;
        background: none;
        color:white;
        bordeR:none;
    }
    padding-bottom:2em;
}
.slides--container {
    padding:0;
    width:100vw;
    margin: 5vw;
    display: flex;
    overflow-x: show;
    overflow-x: hidden;
    & .record {
    @include record;
    display: flex;
    position: relative;
    border:none;
    padding-bottom:2em;
    min-width:68vw;
    height: 120vw;;
    margin-right:5vw;
    & .record--list--cart--add{
        @include button;
        width: 90%;
        position: absolute;
        bottom: 2%;
    }
    &  .record--wishlist--add {
        @include button;
        width:90%;
        position: absolute;
        bottom:10%;
    }
    & img {
        margin-bottom: 1em;
        border-radius: 5px;
        min-width: 66vw;;
        max-width: 66vw;
        max-height:66vw;
        min-height:66vw;
    }
    & .record--name--price {
        font-sizE:1.2em;
        width:95%;
        display: flex;
        justify-content: space-between;
    }
    }
    & .record--buttons{
        min-height: 50%;
    }
}
@media (min-width: 768px) {
    .carousel--container {
        margin: 0 auto;
        display: flex;
        height: 70vh;
        font-size: 1.3em;
        & button {
            font-sizE: 0.7em;
            height:1.5em;
            width: 1.5em;
            margin: -.25vw;
            align-self: center;
            border-radius: 50%;
            bordeR:none;
        }
        padding-bottom:2em;
    }
    .slides--container {
        margin: 0 2vw;
        width:110%;
        display: flex;
        overflow-x:visible;
        overflow-y:visible;
        & .record {

        & p {
            font-size: 0.3em;
        }
        @include record;
        margin:0 0.2em;
        paddinG:0.3em;
        & button {
            max-height: 2em;
        }
        &  h3 {
            font-size: 0.32em;
        }
        padding:0.3em;
        padding-bottom:2em;
        min-width:25vw;
        max-width:25vw;
        max-height: 45vh;;
        & .record--list--cart--add, .record--wishlist--add {
            @include button;
            font-size:0.4em;
            width: 95%;
        }
        & img {
            margin-bottom: 0.3em;
            border-radius: 5px;
            min-width: 23vw;;
            max-width: 23vw;
            max-height:23vw;
            min-height:23vw;
        }
        & .record--name--price {
            width:95%;
            display: flex;
            justify-content: space-between;
        }
        }
    }
}
@media (min-width: 1100px) {
    .carousel--container {
        font-sizE: 1.7em;
        & .record {
            max-height: 62vh;
        }
    }
}