@import "../mixins";
.current--record--page {
   min-height: 45vh;
   font-sizE:0.6em;
   .page--header {
    margin-bottom: 1em;
   }
}
.current--record {
    display: flex;
    font-sizE: 0.3em;
    & img {
        min-width: 42vw;
        min-height: 42vw;
        margin-left: 1em;
    }
    & .current--record-genres {
        display: flex;
        & .genre {
            padding: 0 0.2em;
            border-radius: 2px;
            margin: 0 0.1em;
            margin-bottom: 1em;
            background: pink;
            color:#333
        }
    }
}
.current--record--info {
    margin-right:0;
    margin-left: 1em;
    position: relative;
    width: 50%;
}
.current--record--header, .profile--page--header {
    & .page--header {
        &:before {
            width:70vw;
        }
    }
}

.current--record--artist {
    display:flex;
    justify-content: space-between;
    margin: 0;

}
.quantity--remaining {
    font-size: 0.7em;
}
.current--record--buying {
    & button {
        @include button;
        margin: 1em 0;
        width: 100%;
        font-size:0.8em;
    }
}
@media (max-width: 768px) {
    .current--record {
        font-size: 1.4em;
        width:85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        & img {
            margin-bottom: 1em;
            border-radius: 5px;
            min-width: 75vw;;
            max-width: 75vw;
            max-height:75vw;
            min-height:75vw;
        }
        .current--record--info {
            width:90%;
        }
    }
}

@media (min-width: 768px) {
    .current--record--page {
        font-sizE:1em;
    }
    .current--record {
        font-sizE: 0.5em;
        img {
            max-height: 40vw;
            max-width: 40vw;
        }
    }
}
@media (max-width: 900px) {
    .current--record  {
        min-width:40vw;
        img {
            max-height: 39vw;
            max-width: 39vw;
        }
    }
}
@media (min-width: 1100px) {
    .current--record {
        font-sizE: 0.75em;
    }
}

@media (min-width: 1300px) {
    .current--record {
        font-size: 0.8em;
    .current--record--buying {
        font-size: 0.7em;
        width:90%;
    }
        & img {
            max-height: 27vw;
            min-height: 27vw;
            min-width: 27vw;
        }
    }
}
@media (min-width: 1600px) {
    .current--record {
        font-size: 0.8em;
        & img {
            min-height: 23vw;
            max-height: 23vw;
            min-height: 23vw;
            min-width: 23vw;
        }
    }

}