.preview--record--container {
    padding-bottom:3em;
    & .record {
        margin-left: 1em;
        & img {
            width:97%; 
        }
        & .record--name {
            margin-top: 0.5em;
        }
        & h3 {
            font-sizE:1.2em;
        }
        & h2, p ,div {
            font-size :.8em;
            margin:0;
        }
    }
}
@media (min-width: 1000px) {
    .preview--record--container {
        padding-bottom:3em;
        padding-left:1em;
            & .record {
                display:flex;
                font-sizE:0.7em;
                margin: 0 3.5 3.5em 3.5em;
                & img {
                    width:50%; 
                }
                & p, div, h3, h2 {
                    scale:1.1;
                    margin-left:5%;
                }
             }
      }
}
@media (min-width: 1500px) {
    .preview--record--container {
        padding-bottom:3em;
        padding-left:1em;
       & .preview--record {
            & .record {
                font-sizE:0.9em;
                margin: 0 3.5 3.5em 3.5em;
                & img {
                    width:50%;
                } 
            }
        }
    }
}