/* Record */
@import "../mixins";

.record--list--page {
    height:100%;
    margin-bottom:-2em;
} 
.record--list--header{
    justify-content: space-between;
    display:flex;
    width: 96%;;
    & .page--header {
        &:before {
            left: 2em;
            width:2.6em;
        }
    }
        & button {
        min-height:2em;
        align-self: center;
        border-radius: 5px;
        border:none;
        font-size:0.9em;
        margin-top:1em;
        margin-right:1.7em;
        width: 7em;
        font-family: 'Inter';
        cursor:pointer;
        font-weight: bold;
        &:hover {
            filter:brightness(80%);
        }
    }
    & .page--number {
        margin-top:0.5em;
        font-size: 1.5em;;
        align-self: center;
    }
}
.record {
    @include record;
    position: relative;
    margin: 1em auto;
    padding-bottom:2em;
    width:80%;
    height: 100%;
    & .record--list--cart--add {
        @include button;
        width: 95%;
        position: absolute;
        bottom: 2%;
    }
    & img {
        margin-bottom: 1em;
        border-radius: 5px;
        min-width: 74vw;;
        max-width: 74vw;
        max-height:74vw;
        min-height: 74vw;
    }
    & .record--name--price {
        width:98%;
        display: flex;
        justify-content: space-between;
    }
}
.page--number--container {
    display:flex;
    justify-content:space-between;
    width: 40%;
    & button {
        height:50%;
    align-self: center;
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    border:none;
    color:white;
    font-size:0.6em;
    width: 2em;
    height:2em;
    font-family: 'Inter';
    cursor:pointer;
    font-weight: bold;
    &:hover {
        filter:brightness(80%);
    }
    }
    margin: 2em auto;
    height: 2.5em;
}
.record--container, .collection--record--container{
    width: 100%;
    displaY:grid;
    font-size: 1.3em;
}

@media (min-width: 768px) {
    .record--container, .record--collection--container {
        grid-template-columns:  repeat(3, 1fr);
        width: 100%;
        font-size: 0.5em;
        & .record {
            margin:0.3em;
            border-radius: 5px;;
            padding-bottom:-1em;
            margin-bottom: 1em;
            min-width: 25vw;
            max-width: 25vw;;
            min-height: 40vh;
            max-height:50vh;
            & .record--name {
                font-size:1.5em;
            }
            & .record--artist {
                font-size:1em;
            }
            & img {
                border-radius: 5px;
                min-width: 23vw;;
                max-width: 23vw;
                max-height:23vw;
                min-height: 23vw;
             }
        }
    }
    .record--list--header{
            & button {
            margin-top: 2em;
            margin-right:-1em;
            min-height:1.5em;
            font-size:0.75em;
            width: 7em;
        }
        & .page--number {
            margin-top:1em;
            font-size: 1em;
        }
    }
}
@media (min-width: 1200px) {
    .record--container {
        grid-template-columns:  repeat(4, 1fr);
        & .record {
            
            padding-bottom:-1em;
            min-width: 20vw;
            max-width: 22vw;
            max-height: 30vh;
            min-height:50vh;
            & img {
                min-width: 19vw;;
                max-width: 19vw;
                max-height:19vw;
                min-height: 19vw;
             }
        }
    }
}
@media (min-width: 1500px) {
    .record--container {
        grid-template-columns:  repeat(5, 1fr);
        & .record {
            min-width: 15vw;
            max-width: 15vw;
            max-height:45vh;
            min-height:40vh;
            font-sizE: 0.6em;
            & img {
                min-width: 14vw;;
                max-width: 14vw;
                max-height:14vw;
                min-height: 14vw;
             }
        }
    }
}


