/* Form  */
.new--record--form {
    & .page--header {
        &:before {
            left:2.6em;
            width:3.6em;
        }
        margin-bottom: 1em;
    }
}
.form {
    color: black;
    font-size:0.7em;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
}
form input, form button, select, input, .search--button {
    max-height:2.5em;
    width: 90%;
    border-radius: 5px;
    border:none;
    box-shadow: 1px 1px 1px 0 lightgrey;
    align-self: center;
}
.genre--selectors {
    height:4em;
   display:flex;
   justify-content: space-evenly;
   max-width: 100%;
   margin-bottom: 1em;
   & select {
    height:3em;
    min-width:31%;
    margin-left: 0.5em;
    margin-right: 0.5em;
   }
}
.submit--button {
    width: 101%;
}
@media( min-width: 768px) {
    .new--record--page {
        display:flex;
    }
    .form {
        font-size: 0.5em;
        height:40vh;
        & input, select, .search--button {
            max-height:3em;
        }
        & .genre--selectors {
            & select {
                min-width:32%;
            }
         }
    }
}
@media (min-width: 1200px) {
    .form {
        min-height: 70vw;
        margin-lefT:1em;
    }
}
