@import "./styles/pages/homeNewRecords";
@import "./styles/pages/currentRecord";
@import "./styles/components/filter";
@import "./styles/forms/newRecordForm";
@import "./styles/pages/recordlist";
@import "./styles/components/nav";
@import "./styles/components/footer";
@import "./styles/pages/blog";
@import "./styles/pages/profilepage";
@import './styles/pages/wishlist';
@import './styles/components/carousel';
@import './styles/forms/newCustomerForm';
@import './styles/components/cartDropdown';
@import './styles/components/checkoutCart';
@import './styles/pages/checkout';
@import './styles/pages/newRecord';


$primary--color: rgb(66, 66, 66);

body {
    margin: 0 0em;
    padding:0;
    font-family: 'Inter', sans-serif;
    width:100%;
    overflow-x: hidden;
}
.main {
    margin:0;
   
}
.site {
    height:100vh;
}
.page--container {
    padding-top:9vh;
    padding-bottom:1em;
}
.page--header {
    padding-top:0.5em;
    padding-left:0.5em;
    margin-bottom:0;
    position: relative;
    margin-bottom: 1em;
    &:before {
        position: absolute;
        left: 0.55em;
        top: 1.7em;
        height: 0;
        width: 95vw;;
        content: '';
        border-top: 4px solid black;
      }   
    & .record--buying {
        margin-top:auto;
    }
}
@media (min-width: 768px) {
    body {
        font-size: 2em;
    }
    .form-group {
        font-size: 0.2em;
    }
    .page--header {
        font-sizE: 1.5em;;
    }
}
@media (min-width: 768px) {
.page {
    margin: 0 1em;
    }
}
@media (min-width: 1000px) {
    .page {
        margin: 0 1.5em;
        }
    }