@charset "UTF-8";
.new--record--container {
  displaY: grid;
  margin: 1em auto;
  font-size: 1.3em;
  margin-bottom: -2em;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.5em;
}
.new--record--container .record {
  padding-lefT: 2em;
  min-width: 29vw;
  max-width: 29vw;
  min-height: 29vh;
  max-height: 56vh;
}
.new--record--container .record img {
  max-width: 27.5vw;
  min-width: 27.5vw;
  max-height: 27.5vw;
  min-height: 27.5vw;
}
.new--record--container .record h3 {
  font-sizE: 1.5em;
  margin: 0;
}
.new--record--container .record .record--name {
  margin-top: 0.5em;
}
.new--record--container .record:after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  left: 1.5em;
  top: -1em;
  border: 3px solid pink;
  transition: width 800ms ease-in-out;
  z-index: -1;
}
.new--record--container .record:hover {
  scale: 1;
}
.new--record--container .record:hover:after {
  width: 100%;
}

@media (min-width: 768px) {
  .new--record--container {
    margin-bottom: 2em;
  }
}
@media (min-width: 1200px) {
  .new--record--container {
    font-size: 0.7em;
    margin-bottom: 5em;
  }
}
.current--record--page {
  min-height: 45vh;
  font-sizE: 1em;
}
.current--record--page .page--header {
  margin-bottom: 1em;
}

.current--record {
  display: flex;
  font-sizE: 0.5em;
  margin: 0 1em;
}
.current--record img {
  min-width: 40vw;
  min-height: 40vw;
  max-width: 40vw;
  max-height: 40vw;
  margin-left: 1em;
  border: 1px solid rgb(228, 228, 228);
}
.current--record .current--record-genres {
  display: flex;
  flex-wrap: wrap;
  height: 10%;
  width: 100%;
  margin-bottom: 7vw;
}
.current--record .current--record-genres .genre--nav:link, .current--record .current--record-genres .genre--nav:visited {
  color: #333;
}
.current--record .current--record-genres .genre {
  padding: 0 0.3em;
  border-radius: 2px;
  height: 1.5em;
  min-width: 20%;
  margin: 0 0.2em;
  margin-bottom: 0.3em;
  background: pink;
  color: #333;
}

.current--record--info {
  margin-right: 0;
  margin-left: 1em;
  position: relative;
  width: 50%;
  min-height: 30vw;
}

.current--record--artist {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.quantity--remaining {
  font-size: 0.7em;
}

.current--record--buttons {
  display: flex;
  flex-direction: column;
}
.current--record--buttons button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1em;
  display: block;
  width: 7em;
  height: 2.7em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  margin-top: 3em;
  width: 100%;
  font-size: 0.8em;
  align-self: flex-end;
}
.current--record--buttons button:hover {
  filter: brightness(80%);
}
.current--record--buttons .cart--add {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.current--record--buttons .cart--add:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}
.current--record--buttons .cart--add:active {
  outline: 0;
}
.current--record--buttons .cart--add:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}
.current--record--buttons .wishlist--add, .current--record--buttons .wishlist--or {
  align-self: flex-start;
  max-width: 8.1em;
  background: none;
  font-size: 0.8em;
  margin-top: 0.5em;
  height: 1.5em;
  color: #333;
  text-decoration: underline;
}
.current--record--buttons .wishlist--or {
  padding: 0 2.5em;
  margin-bottom: 0;
  text-decoration: none;
}

@media (max-width: 768px) {
  .current--record--container {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }
  .current--record {
    font-size: 1.4em;
    width: 92%;
    margin: 1em 3%;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
  }
  .current--record img {
    margin-bottom: 1em;
    border-radius: 3px;
    min-width: 78vw;
    max-width: 78vw;
    max-height: 78vw;
    min-height: 78vw;
  }
  .current--record .current--record--info {
    width: 92%;
  }
  .current--record .current--record-genres {
    margin-bottom: 5vw;
  }
  .current--record .current--record--buttons .wishlist--add, .current--record .current--record--buttons .wishlist--or {
    max-width: 8em;
    margin-top: 0.5em;
    height: 1.5em;
    color: #333;
    text-decoration: underline;
  }
  .current--record .current--record--buttons .wishlist--or {
    padding: 0 2em;
    margin-bottom: 0;
    text-decoration: none;
  }
}
@media (min-width: 1100px) {
  .current--record {
    font-sizE: 0.7em;
    margin: 0 2.5em;
  }
  .current--record img {
    margin-bottom: 1em;
    border-radius: 3px;
    min-width: 33vw;
    max-width: 33vw;
    max-height: 33vw;
    min-height: 33vw;
  }
}
@media (min-width: 1600px) {
  .current--record {
    font-size: 0.8em;
    margin: 0 10em;
  }
  .current--record img {
    min-width: 27vw;
    max-width: 27vw;
    max-height: 27vw;
    min-height: 27vw;
  }
}
.filter--container {
  box-sizing: border-box;
  margin: 1em;
  max-width: 100vw;
  display: flex;
  font-size: 0.5em;
}
.filter--container input, .filter--container button, .filter--container select {
  max-height: 2.5em;
  font-sizE: 1.5em;
}

.filter--select {
  margin: 0 1em;
  width: 20vw;
  height: 2.3em;
}

.search--record {
  margin-right: 0;
}

.display--sort--selector {
  margin-left: 1.5em;
  width: 20vw;
  border: none;
  height: 2.3em;
}

.search--input {
  width: 30vw;
}

.search--container {
  display: flex;
}

.reset--button {
  margin-left: 1em;
  width: 11vw;
  border: none;
  box-shadow: 1px 1px 1px 0 lightgrey;
  color: black;
  background: white;
}

@media (min-width: 768px) {
  .filter--container {
    margin-left: 0;
    max-width: 100vw;
    font-size: 0.5em;
  }
  .filter--container input, .filter--container button, .filter--container select {
    font-sizE: 1em;
  }
}
/* Form  */
.new--record--form .page--header {
  margin-bottom: 1em;
}

.form {
  color: black;
  font-size: 0.9em;
  width: 90%;
  margin: 0 auto;
  height: 85vh;
}

form input, form button, select, input, .search--button {
  max-height: 4.7em;
  width: 90%;
  border: none;
  box-shadow: 1px 1px 1px 0 lightgrey;
  align-self: center;
}

.search--button, form button {
  min-height: 3.35em;
}

.input--group--£ {
  max-height: 3.35em;
}

.submit--button {
  width: 101%;
  background-color: #333;
}
.submit--button:hover {
  background: #333;
  filter: brightness(80%);
}

.form-control {
  font-size: 0.8em;
}

@media (min-width: 768px) {
  form {
    max-height: 45vw;
  }
  form .form-control {
    font-size: 1em;
  }
  form .input--group--£ {
    max-height: 3.7em;
  }
}
@media (min-width: 1300px) {
  .new--record--page {
    display: flex;
  }
  .form {
    width: 45vw;
    height: 50vh;
  }
  .form input, .form select, .form .search--button {
    max-height: 4em;
  }
  .form select {
    min-height: 3.2em;
  }
  .form .input--group--£ {
    max-height: 3.55em;
  }
}
/* Record */
.record--list--page {
  height: 100%;
}

.collection--page {
  min-height: 100vh;
}

.record--collection--container, .record--container {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.record--collection--container .record, .record--container .record {
  position: relative;
  displaY: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.5em;
  min-width: 25vh;
  min-height: 25vh;
  font-size: 0.8em;
  transition: scale 500ms ease-in-out;
  z-index: 1;
  position: relative;
  margin: 0em;
  padding-bottom: 2em;
  max-width: 40vw;
  max-height: 50vh;
}
.record--collection--container .record .record--name, .record--collection--container .record .record--artist, .record--collection--container .record .record--name--price, .record--container .record .record--name, .record--container .record .record--artist, .record--container .record .record--name--price {
  margin: 0;
}
.record--collection--container .record .record--artist--span, .record--container .record .record--artist--span {
  font-size: 0.9em;
  color: grey;
}
.record--collection--container .record:after, .record--container .record:after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  left: 0em;
  top: -0.5em;
  border: 3px solid pink;
  transition: width 800ms ease-in-out;
  z-index: -1;
}
.record--collection--container .record img, .record--container .record img {
  min-height: 25vh;
  min-width: 25vh;
  border: 0.5px solid grey;
}
.record--collection--container .record:hover, .record--container .record:hover {
  scale: 1;
}
.record--collection--container .record:hover:after, .record--container .record:hover:after {
  width: 100%;
}
.record--collection--container .record h3, .record--container .record h3 {
  font-sizE: 0.9em;
}
.record--collection--container .record img, .record--container .record img {
  margin-bottom: 1em;
  border-radius: 5px;
  min-width: 39vw;
  max-width: 39vw;
  max-height: 39vw;
  min-height: 39vw;
}
.record--collection--container .record .record--artist, .record--container .record .record--artist {
  padding-bottom: 1em;
}

.page--number--container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 2em auto;
  height: 2.5em;
}
.page--number--container button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 0.6em;
  width: 2em;
  height: 2em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
}
.page--number--container button:hover {
  filter: brightness(80%);
}

.record--container, .collection--record--container {
  width: 100%;
  displaY: grid;
  font-size: 1.3em;
}

@media (min-width: 768px) {
  .record--container, .record--collection--container {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    font-size: 0.5em;
    margin: 0 1.5em;
  }
  .record--container .record, .record--collection--container .record {
    margin: 0.3em;
    border-radius: 5px;
    padding-bottom: -1em;
    margin-bottom: 1em;
    min-width: 29vw;
    max-width: 29vw;
    min-height: 39vh;
    max-height: 50vh;
  }
  .record--container .record .record--name, .record--collection--container .record .record--name {
    font-size: 1.5em;
  }
  .record--container .record .record--artist, .record--collection--container .record .record--artist {
    font-size: 1em;
  }
  .record--container .record img, .record--collection--container .record img {
    border-radius: 5px;
    min-width: 28vw;
    max-width: 28vw;
    max-height: 28vw;
    min-height: 28vw;
  }
  .record--list--header button {
    margin-top: 2em;
    margin-right: -1em;
    min-height: 1.5em;
    font-size: 0.75em;
    width: 7em;
  }
  .record--list--header .page--number {
    margin-top: 0.5em;
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  .record--container, .record--collection--container {
    grid-template-columns: repeat(4, 1fr);
  }
  .record--container .record, .record--collection--container .record {
    padding-bottom: -1em;
    min-width: 22vw;
    max-width: 22vw;
    max-height: 30vh;
    min-height: 45vh;
  }
  .record--container .record img, .record--collection--container .record img {
    min-width: 21vw;
    max-width: 21vw;
    max-height: 21vw;
    min-height: 21vw;
  }
}
@media (min-width: 1500px) {
  .record--container {
    grid-template-columns: repeat(5, 1fr);
  }
  .record--container .record {
    min-width: 18vw;
    max-width: 18vw;
    max-height: 37vh;
    min-height: 45vh;
    font-sizE: 0.8em;
  }
  .record--container .record img {
    min-width: 17.5vw;
    max-width: 17.5vw;
    max-height: 17.5vw;
    min-height: 17.5vw;
  }
}
nav h1 {
  font-sizE: 2.3em;
  align-self: center;
}

.logo--container {
  height: 100%;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  font-size: 0.4em;
  margin: 0;
  background: linear-gradient(rgb(66, 66, 66), rgb(34, 34, 34));
  color: white;
  border-bottom: 1px solid rgb(161, 161, 161);
  height: 7vh;
  z-index: 10;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: -4.7em;
  margin-top: 3em;
}

li {
  list-style: none;
  align-self: center;
  width: 100%;
  margin-right: 6%;
}

.nav--item, .nav--item--records {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.5em;
  padding: 2.6em 1em;
  margin: 0;
}

.nav--item:hover {
  background-color: rgb(56, 56, 56);
}
.nav--item:visited {
  text-decoration: none;
  color: white;
}

.nav--buttons {
  min-width: 16%;
  display: flex;
  justify-content: flex-end;
}

.image--record {
  margin-bottom: 1em;
  height: 25px;
  align-self: center;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 50%;
}

.cart--container {
  margin: 0 1em;
  align-self: flex-end;
  position: relative;
}

.counter {
  background-color: rgb(255, 220, 220);
  border-radius: 50%;
  padding: 0.3em;
  position: absolute;
  top: -5px;
  lefT: -5px;
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}
.counter:visited {
  text-decoration: none;
  color: white;
}

.cart {
  height: 25px;
  border: 1px solid black;
  margin: 0;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 0.5em;
  border-radius: 5px;
}

.home--link {
  text-decoration: none;
  color: white;
}
.home--link:visited {
  text-decoration: none;
  color: white;
}

.logo--container {
  margin: 1em;
  displaY: flex;
}

.dropdown--menu--main {
  position: relative;
}

.dropdown--menu {
  display: grid;
  position: absolute;
  min-height: 1em;
  max-height: 1em;
  left: 0.5em;
  font-size: 1.7em;
  margin: 0.5em 0;
  z-index: 1;
  padding: 0.5em;
  border: 1px solid #343434;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(rgb(66, 66, 66), rgb(34, 34, 34));
  width: 10em;
  opacity: 0;
  transform: translateY(-17em);
  border-radius: 2px;
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.dropdown--menu:hover {
  opacity: 1;
  transform: translateY(-2em);
  min-height: 20em;
  max-height: 30em;
}

.dropdown--item {
  padding: 0.5em;
}
.dropdown--item:link, .dropdown--item:visited {
  text-decoration: none;
  color: whitesmoke;
}

.auth--btn {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1em;
  display: block;
  width: 7em;
  height: 2.7em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  font-sizE: 0.9em;
  width: 6em;
  height: 4em;
  margin-left: -3em;
  margin-right: 1em;
  background-color: #bfbfbf;
  color: #343434;
}
.auth--btn:hover {
  filter: brightness(80%);
}

@media (min-width: 768px) {
  .dropdown--menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 13em;
    min-height: 13em;
    min-width: 17em;
    max-width: 17em;
    font-size: 1em;
    margin: 0.5em 0;
    left: -3em;
    z-index: 1;
    padding: 0.5em;
    border: 1px solid #343434;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(rgb(66, 66, 66), rgb(34, 34, 34));
    width: 10em;
    opacity: 0;
    transform: translateY(-14em);
    border-radius: 2px;
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  .dropdown--menu:hover {
    opacity: 1;
    transform: translateY(-1em);
    max-height: 13em;
    min-height: 13em;
  }
  .dropdown--menu li {
    min-width: 8em;
    max-width: 7em;
    margin: 0;
  }
  .auth--btn {
    font-sizE: 0.89em;
    width: 6em;
    height: 2em;
    margin: 0 1em;
  }
  ul {
    width: 100%;
    margin-top: 1.5em;
  }
  nav h1 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  .nav--item, .nav--item--records {
    padding: 1.9em 1em;
    font-size: 1em;
    margin-left: 0.5em;
  }
  .image--record {
    margin-bottom: 2em;
    margin-right: 3em;
  }
  li {
    padding: 0.4em;
    width: 100%;
  }
  .counter {
    font-sizE: 0.75em;
    top: -10px;
  }
  .cart--container {
    scale: 1.1;
  }
  .nav--buttons {
    margin-right: 0em;
  }
}
.footer--container {
  border-top: 1px solid lightgrey;
  background: linear-gradient(rgb(66, 66, 66), rgb(34, 34, 34));
  display: flex;
  font-sizE: 0.5em;
  color: rgba(255, 255, 255, 0.82);
  width: 100vw;
  height: 20vh;
  margin-top: -3.4em;
  justify-content: space-evenly;
  align-content: center;
  padding-bottom: 1em;
}
.footer--container .company-container {
  max-width: 20%;
  margin: auto 0;
}
.footer--container h2 {
  font-size: 1.6em;
}
.footer--container h3 {
  font-size: 1em;
}
.footer--container .contact--container {
  margin: auto 0;
}
.footer--container .signup--container {
  margin: auto 0;
  max-width: 20%;
}
.footer--container .signup--container button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1em;
  display: block;
  width: 7em;
  height: 2.7em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
  color: black;
  margin-top: 1em;
  height: 2em;
  width: 100%;
}
.footer--container .signup--container button:hover {
  filter: brightness(80%);
}
.footer--container .signup--container input {
  font-size: 1em;
  width: 100%;
}

@media (min-width: 768px) {
  .footer--container {
    font-sizE: 0.3em;
  }
}
.blog--page {
  margin: 0;
  min-height: 75vh;
  padding-bottom: 1em;
}

.post--container {
  displaY: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 15%;
  font-size: 1.4em;
}
.post--container h1 {
  margin: 0;
  margin-bottom: 0.5em;
  ordeR: 0;
  font-sizE: 1.2em;
}
.post--container h2 {
  font-sizE: 1em;
  margin: 0;
  ordeR: 4;
}
.post--container .post--album--info {
  ordeR: 4;
  margin-bottom: 0.5em;
}
.post--container .post--album--info .post--date--span {
  opacity: 70%;
  margin-left: -10em;
}
.post--container .post--album--info p {
  margin-top: 0.5em;
}
.post--container img {
  margin-bottom: 0.5em;
  max-width: 65%;
  order: 2;
}
.post--container p {
  max-width: 70%;
  font-size: 0.5em;
  margin-bottom: 1em;
  order: 4;
}
.post--container .post--details--container {
  display: flex;
  flex-direction: column;
}
.post--container .post--title--date {
  display: flex;
}
.post--container .post--title--date p {
  margin-left: 17em;
}

@media (min-width: 600px) {
  .blog--page .page--header {
    margin-left: 1.75em;
    padding-bottom: 0.5em;
  }
  .post--container {
    font-size: 1.5em;
    margin-left: 10%;
  }
  .post--container img {
    width: 30%;
    height: 30%;
    order: 2;
  }
  .post--container .post--details--container {
    margin-left: 0;
    flex-direction: row;
  }
  .post--container .post--album--info {
    margin: 0;
    margin-left: 0.5em;
  }
}
@media (min-width: 768px) {
  .blog--page .page--header {
    margin-left: 0;
    padding-bottom: 0.5em;
  }
  .post--container {
    width: 90%;
    margin-left: 3em;
    font-size: 0.9em;
  }
  .post--container img {
    width: 25%;
    height: 30%;
    order: 2;
  }
  .post--container h1 {
    width: 100%;
  }
  .post--container .post--album--info {
    margin: 0;
    margin-left: 0.5em;
  }
  .post--container .post--album--info p {
    margin: 0;
  }
  .post--container .post--title--date p {
    margin-left: 17em;
  }
}
@media (min-width: 1200px) {
  .blog--page .page--header {
    padding-bottom: 0.5em;
  }
  .post--container {
    margin-left: 7em;
    font-size: 0.8em;
  }
  .post--container img {
    width: 15%;
    order: 2;
  }
}
@media (min-width: 1500px) {
  .post--container {
    font-size: 1em;
  }
  .post--container img {
    width: 15%;
  }
}
.profile--page--container {
  margin: 1em;
  font-size: 1em;
}

.profile--details {
  margin-bottom: 1em;
}
.profile--details p {
  margin: 0;
}

.prev--order--albums {
  display: flex;
  flex-wrap: wrap;
}

.prev--order--details {
  background: pink;
  color: black;
  margin: 0.5em 0;
  padding: 0 0.2em;
  margin-right: 1em;
  min-width: 20%;
}
.prev--order--details strong {
  margin-right: 0.3em;
}

@media (min-width: 768px) {
  .profile--page--container {
    font-sizE: 0.7em;
  }
}
.wishlist--empty--text {
  font-size: 1em;
  margin-left: 1em;
}

@media (min-width: 768px) {
  .wishlist--empty--text {
    font-size: 0.7em;
    margin-left: 1em;
  }
}
.carousel {
  width: 100%;
  margin-bottom: 1em;
  margin-lefT: 0.5em;
}
.carousel .record {
  position: relative;
  displaY: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.5em;
  min-width: 25vh;
  min-height: 25vh;
  font-size: 0.8em;
  transition: scale 500ms ease-in-out;
  z-index: 1;
  display: flex;
  border: none;
  padding-bottom: 2em;
  min-width: 30vw;
  height: 5;
  margin-right: 5vw;
}
.carousel .record .record--name, .carousel .record .record--artist, .carousel .record .record--name--price {
  margin: 0;
}
.carousel .record .record--artist--span {
  font-size: 0.9em;
  color: grey;
}
.carousel .record:after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  left: 0em;
  top: -0.5em;
  border: 3px solid pink;
  transition: width 800ms ease-in-out;
  z-index: -1;
}
.carousel .record img {
  min-height: 25vh;
  min-width: 25vh;
  border: 0.5px solid grey;
}
.carousel .record:hover {
  scale: 1;
}
.carousel .record:hover:after {
  width: 100%;
}
.carousel .record img {
  position: relative;
  margin-bottom: 0.5em;
  border-radius: 5px;
  min-width: 28vw;
  max-width: 28vw;
  max-height: 28vw;
  min-height: 28vw;
}
.carousel .record h3 {
  font-size: 0.9em;
  margin: 0;
}
.carousel .record:after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  left: 0em;
  top: -0.5em;
  border: 3px solid pink;
  transition: width 800ms ease-in-out;
  z-index: -1;
}
.carousel .record:hover {
  scale: 1;
}
.carousel .record:hover:after {
  width: 100%;
}

.record--button {
  font-weight: bold;
  color: pink;
  font-size: 2em;
  border: none;
  position: absolute;
  background: none;
  top: 0;
  right: 1em;
  border-radius: 0;
  transition: scale 500ms ease-in-out;
}
.record--button:hover {
  scale: 1.1;
}

@media (min-width: 1000px) {
  .record--button {
    right: 0;
  }
  .carousel .record {
    min-width: 22vw;
    height: 5;
    margin-right: 5vw;
  }
  .carousel .record img {
    position: relative;
    min-width: 21vw;
    max-width: 21vw;
    max-height: 21vw;
    min-height: 21vw;
  }
  .carousel .record h3 {
    font-size: 0.8em;
    margin: 0;
  }
}
.customer--form {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1em;
}
.customer--form input {
  max-height: 3em;
}
.customer--form .submit--button {
  height: 3em;
  min-width: 100%;
  border: 1px solid darkgrey;
  background: #333;
}
.customer--form .submit--button:hover {
  filter: brightness(80%);
}

@media (min-width: 768px) {
  .customer--form {
    font-size: 0.5em;
  }
}
.cart--container {
  position: relative;
}

.cart--dropdown {
  overflow-y: scroll;
  position: absolute;
  background: black;
  top: 14em;
  right: 3em;
  min-height: 11em;
  width: 55vw;
  z-index: 10;
  padding: 2em;
  font-size: 0.8em;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 0 0 rgb(37, 37, 37);
  background: linear-gradient(rgb(44, 44, 44), rgb(34, 34, 34));
}

.cart--link {
  font-size: 3em;
}
.cart--link:visited, .cart--link:link {
  color: white;
  text-decoration: none;
}

.cart--page {
  height: 100%;
  box-sizing: content-box;
  width: 100%;
}

.cart--dropdown--header {
  text-align: center;
}

.cart--record {
  displaY: flex;
  width: 100%;
  font-size: 1.9em;
  min-height: 80%;
  padding: 0.5em;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
.cart--record img {
  max-width: 9em;
  max-height: 9em;
  min-height: 9em;
  min-width: 9em;
  border-radius: 3px;
}
.cart--record .cart--record--buying {
  font-size: 1em;
  display: flex;
  width: 15vw;
  justify-content: space-between;
  margin-top: auto;
  padding-left: 1em;
  padding-top: 0.5em;
}
.cart--record .cart--record--buying button {
  font-size: 1em;
  background: none;
  border: none;
  color: white;
  height: 1.5em;
  margin: 0 0.5em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
}
.cart--record .cart--record--buying button:hover {
  filter: brightness(80%);
}

.cart--item--details {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  font-family: bold;
  font-size: 1.3em;
  height: 70%;
}

.cart--record--name, .cart--record--artist {
  padding: 0 0 0 15px;
  margin: 0;
  font-weight: bold;
}

.cart--record--name {
  letter-spacing: 1px;
  font-size: 1em;
  max-width: 100%;
}

.cart--record--artist {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.6em;
  margin-bottom: 0em;
}

.cart--record--price {
  position: absolute;
  right: 1.3em;
}

.cart--total--price {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.cart-record--total {
  displaY: flex;
  justify-content: space-between;
}

.cart--quantity {
  padding: 0 1.1em;
}

.cart--link:link, .cart--link:visited {
  color: white;
  text-decoration: none;
}

.cart--link--button {
  border: 1px solid white;
  font-size: 1em;
  width: 50%;
  margin: 0.5em auto;
  text-align: center;
  color: black;
  background: pink;
}
.cart--link--button:hover {
  filter: brightness(80%);
}

@media (min-width: 768px) {
  .cart--dropdown {
    top: 7em;
  }
  .wishlist--container .page--header:before {
    left: 2em;
    width: 160px;
  }
  .cart--header .page--header:before {
    left: 1.3em;
    width: 90px;
  }
  .cart--record {
    padding: 0.5em;
    max-height: 15vh;
    font-sizE: 1.6em;
  }
  .cart--record img {
    max-width: 7em;
    max-height: 7em;
    min-height: 7em;
    min-width: 7em;
  }
  .cart--record .cart--record--buying {
    padding-left: 0;
    font-size: 1em;
    margin-top: auto;
  }
  .cart--record .cart--record--buying button {
    margin: 0 1em;
  }
  .cart--total--price {
    font-size: 1.6em;
  }
  .cart--record--price {
    right: 1.2em;
  }
}
@media (min-width: 1100px) {
  .cart--record {
    padding: 0.5em;
    max-height: 12vh;
    font-sizE: 1.6em;
  }
  .cart--record img {
    max-width: 5.5em;
    max-height: 5.5em;
    min-height: 5.5em;
    min-width: 5.5em;
  }
  .cart--record .cart--record--buying {
    padding-left: 0;
    font-size: 1em;
    margin-top: auto;
  }
  .cart--record .cart--record--buying button {
    margin: 0 1em;
  }
  .cart--dropdown {
    max-height: 60vh;
    width: 40vw;
  }
}
.right--checkout--container {
  display: none;
  font-size: 0.3em;
  padding-right: 2em;
  padding-bottom: 2em;
  margin-top: -28%;
  width: 100%;
  min-height: 90vh;
  margin-left: 5em;
  background-color: #333;
  color: white;
}
.right--checkout--container .cart--checkout {
  margin-left: 1em;
  margin-top: 40%;
  padding: 2em;
}
.right--checkout--container .cart--items--container {
  height: 100%;
  max-width: 35vw;
}
.right--checkout--container .cart--items--container .cart--record {
  position: relative;
  min-width: 35vw;
  max-width: 35vw;
  font-size: 1.3em;
  border-top: 1px solid pink;
  border-bottom: 1px solid pink;
}
.right--checkout--container .cart--items--container .cart--record img {
  max-height: 6em;
  min-height: 6em;
  max-width: 6em;
  min-width: 6em;
}
.right--checkout--container .cart--items--container .cart--record .cart--record--buying {
  max-width: 30vw;
  font-weight: bold;
}
.right--checkout--container .cart--items--container .cart--record .cart--record--name, .right--checkout--container .cart--items--container .cart--record .cart--record--artist {
  margin: 0;
  font-size: 0.8em;
}
.right--checkout--container .cart--items--container .cart--record .cart--record--artist {
  font-size: 0.6em;
}
.right--checkout--container .cart--items--container .cart--record .cart--record--price {
  font-size: 1em;
  right: 0;
}
.right--checkout--container .cart--link--button {
  display: none;
}
.right--checkout--container .cart--total--price {
  font-size: 1.3em;
  width: 35vw;
  font-weight: bold;
}

@media (min-width: 1100px) {
  .right--checkout--container {
    display: block;
  }
  .right--checkout--container .cart--checkout {
    margin-top: 30%;
  }
  .right--checkout--container {
    font-size: 0.4em;
  }
}
.checkout--container {
  margin: 2em;
}
.checkout--container .delivery--header {
  border-bottom: 5px solid pink;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
.checkout--container h1, .checkout--container h3 {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.checkout--container h3 {
  margin-top: 1em;
  font-size: 0.8em;
}
.checkout--container p {
  margin: 0;
  font-size: 0.75em;
}
.checkout--container .continue--button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1em;
  display: block;
  width: 7em;
  height: 2.7em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  font-sizE: 0.75em;
  width: 50%;
  margin: 2em auto;
}
.checkout--container .continue--button:hover {
  filter: brightness(80%);
}

.paypal--container {
  min-width: 40vw;
  max-width: 40vw;
  height: 30vh;
  padding: 1em;
  margin: 0 auto;
}
.paypal--container .paypal--button {
  min-width: 40vw;
  max-width: 40vw;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .checkout--container {
    margin: 0em;
    display: grid;
    grid-template-columns: 7fr 3fr;
  }
}
.preview--record--container {
  padding-bottom: 3em;
}
.preview--record--container .record {
  margin-left: 1em;
  width: 85%;
}
.preview--record--container .record img {
  width: 80%;
  margin-left: 15%;
}
.preview--record--container .record .record--info {
  margin-top: 3%;
  margin-left: 3%;
}
.preview--record--container .record .record--name {
  font-size: 3em;
  font-weight: bold;
}
.preview--record--container .record h2 {
  font-size: 1.7em;
}
.preview--record--container .record .new--record--genres {
  display: flex;
  flex-wrap: wrap;
  height: 10%;
  width: 100%;
  margin-bottom: 7vw;
  font-size: 1.5em;
  margin-top: 1em;
}
.preview--record--container .record .new--record--genres .genre {
  padding: 0 0.3em;
  border-radius: 2px;
  height: 1.5em;
  min-width: 20%;
  margin: 0 0.2em;
  margin-bottom: 0.3em;
  background: pink;
  color: #333;
}

@media (min-width: 768px) {
  .preview--record--container .record {
    display: flex;
    width: 90vw;
  }
  .preview--record--container .record .record--info {
    margin-top: 0;
  }
  .preview--record--container .record img {
    width: 40vw;
    height: 40vw;
    margin-lefT: 0;
  }
  .preview--record--container .record .record--name {
    font-sizE: 1.5em;
  }
  .preview--record--container .record h2 {
    font-size: 0.9em;
  }
  .preview--record--container .record .new--record--genres {
    font-size: 0.7em;
  }
}
@media (min-width: 1300px) {
  .preview--record--container {
    width: 55vw;
  }
  .preview--record--container .record img {
    max-width: 19vw;
    max-height: 19vw;
  }
  .preview--record--container .record .record--info {
    margin-left: 2%;
    min-width: 27vw;
    max-width: 27vw;
  }
  .preview--record--container .record .record--name {
    width: 100%;
    font-size: 1em;
  }
  .preview--record--container .record h2 {
    font-sizE: 0.8em;
  }
}
@media (min-width: 1500px) {
  .preview--record--container {
    padding-bottom: 3em;
    padding-left: 1em;
  }
  .preview--record--container .preview--record .record {
    font-sizE: 1.1em;
  }
  .preview--record--container .preview--record .record img {
    width: 50%;
  }
}
body {
  margin: 0 0em;
  padding: 0;
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.main {
  margin: 0;
}

.site {
  height: 100vh;
}

.page--container {
  padding-top: 9vh;
  padding-bottom: 1em;
}

.page--header {
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 0;
  position: relative;
  margin-bottom: 1em;
}
.page--header:before {
  position: absolute;
  left: 0.55em;
  top: 1.7em;
  height: 0;
  width: 95vw;
  content: "";
  border-top: 4px solid black;
}
.page--header .record--buying {
  margin-top: auto;
}

@media (min-width: 768px) {
  body {
    font-size: 2em;
  }
  .form-group {
    font-size: 0.2em;
  }
  .page--header {
    font-sizE: 1.5em;
  }
}
@media (min-width: 768px) {
  .page {
    margin: 0 1em;
  }
}
@media (min-width: 1000px) {
  .page {
    margin: 0 1.5em;
  }
}/*# sourceMappingURL=styles.css.map */