@import 'mixins';

.cart--page {
    height: 100%;
    box-sizing: content-box;
    width: 100%;
}
.cart--dropdown--header {
    text-align: center;
}
.cart--record {
    displaY:flex;
    width:100%;
    font-size: 2.5em;
    height: 60%;
    padding:0.5em;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    & img {
        max-width: 13vw;
        max-height: 13vw;
        height:100%;
        border-radius: 3px;
    }
    & .cart--record--buying {
        font-size:1em;    
        display:flex;
        width:100%;
        justify-content: space-between;
        margin-top: auto;
        padding:0 1em;
        & button {
            font-size:1em;
            background: none;
            color:white;
            border-radius: 1px;
            border:1px solid whitesmoke;
            height:1.5em;
            margin:0 0.5em;
            font-family: 'Inter';
            cursor:pointer;
            font-weight: bold;
            &:hover {
                filter:brightness(80%);
            }
        }
    } 
}
.cart--item--details {
    display: flex;
    min-width:100%;
    flex-direction: column;;
    font-family: bold;
    font-size:1.3em;
    height: 70%;
}
.cart--record--name, .cart--record--artist {
    padding:0 0 0 15px;
    margin:0;
    font-weight: bold;
}
.cart--record--name {
    letter-spacing: 1px;
    font-size:1em;
    max-width: 90%;
}
.cart--record--artist {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 0.6em;
    margin-bottom:0em;
}
.cart--record--price {
    position: absolute;
    right:1em;
}
.cart--total--price {
    font-size:2.5em;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.cart-record--total {
    displaY:flex;
    justify-content: space-between;
}
.cart--quantity {
    padding:0 0.5em;
}
.cart--link {
    width:2em;
}
@media (min-width: 768px) {
     .wishlist--container .page--header{
        &:before {
            left: 2em;
            width: 160px;
          }
    }
    .cart--header .page--header {
        &:before {
            left: 1.3em;
            width: 90px;
          }
    }
    .cart--record {
        padding:0.5em;
        max-height:18vh;
        & img {
            margin-right:-0.7em;
        }
        & .cart--record--buying {
            font-size:0.8em;    
            display:flex;
            width:100%;
            justify-content: space-between;
            margin-top: auto;
            padding-left:0.5em;
            & button {
                padding:0.33em;
                margin: 0 01em;
                cursor:pointer;
                &:hover {
                    filter: brightness(80%);
                }
            }
        } 
    }
    .cart--summary {
    font-size: 0.5em;
    }

    .checkout--button {
        font-sizE: 0.7em;
    }
}
@media (min-width: 1000px) {
    .cart--page--container  {
        width:100%;
        flex-direction: row;
        margin-left:0em;
        font-size: 0.7em;
    }
    .cart--items--container {
        margin-right:2em;
        height: 90%;
        width: 80%;
        & .cart--record {
            padding:0.5em;
            height:16vh;
            font-size: 1em;
            min-height: 13vh;
            & img {
                margin-right:-0.7em;
                max-height:20vh;
            }
        }
    }
    .cart--items {
        overflow-x: hidden;
        }
    .cart--record--artist, .cart--record--name {
        margin-left:5%;
    }
    .cart--record--buying  {
        padding-left:4em;
        margin-bottom: 1em;
        margin-left: 1em;
        font-size: 1em;
        & button {
            font-size: 0.9em;
        }
        & .cart--record--price, .cart--quantity {
            font-size: 0.7em;
            margin-top:1em;
            align-self: center;
        }
     }
    .cart--summary {
        margin-left :1em;
        margin-right:-2em;
        width:50%;
    }
}
@media (min-width: 1300px) {
    .cart--page--container  {
        width:110%;
        flex-direction: row;
        margin-left:-2em;
        font-size: 0.9em;
        & .cart--items {
            & img {
                height: 130%;
               margin-top:-0.75em;
               margin-left:-0.7em
            }
        }
    }
    .cart--record--buying  {
        margin-left: 1em;
        margin-bottom: 1em;
        font-size: 0.8em;
            & button {
                font-size: 0.6em;
            }
            & .cart--record--price, .cart--quantity {
                font-size: 1em;
                margin-top:1em;
            }
        }     
}