@import "./mixins";
.current--record--page {
    font-sizE: 0.7em;
   min-height: 43vh;
}
.current--record {
    display: flex;
    & img {
        min-width: 42vw;
        min-height: 42vw;
        margin-left: 1em;
    }
}
.current--record--info {
    margin-right:0;
    margin-left: 1em;
    position: relative;
    width: 50%;
}
.current--record--header, .profile--page--header {
    & .page--header {
        &:before {
            width:70vw;
        }
    }
}
.current--record--artist {
    display:flex;
    justify-content: space-between;
    margin: 0;

}
.quantity--remaining {
    font-size: 0.7em;
}
.current--record--buying, .similar--records .record {
    margin-right:0;
    & button {
        margin: 0 1em;
        @include button;
        max-width:12em;
    }
}
.current--record--buying {
    width: 100%;
    position: absolute;
    bottom:1px;
    left: -10px;
    font-size: 1.2em;
}
.similar--record--container {
    & .page--header {
        margin:0;
        &:before {
            width: 4.1em;
        }
    }
    margin-top:0;
    font-size: 0.75em;
}
#similar-record--info--container {
    & button {
        scale: 0.7;
        font-sizE: 1em;
    }
}
@media (min-width: 768px) {
    .current--record {
        font-sizE: 0.8em;
        img {
            max-height: 40vw;
            max-width: 40vw;
        }
        & button {
            scale: 0.5;
            min-width:6em;
            margin: 0
        }
    }
}
@media (max-width: 900px) {
    .current--record  {
        min-width:40vw;
        img {
            max-height: 39vw;
            max-width: 39vw;
        }
    }
}
@media (min-width: 1100px) {
    .current--record {
        font-sizE: 1em;
    }
    .similar-records--title {
        font-size: 1em;
    }

    .current--record--buying {
        font-size: 1.2em;
        & button {
            margin: auto 0.3em;
            scale: 1.3;
            height:3em;
            min-width: 10em;
        }
    }
    .current--record--title {
        font-size: 1.3em;
    }
    #similar-record--info--container {
        & button {
            font-sizE: 0.6em;
            scale: 0.8;
        }
    }
}
@media (min-width: 1300px) {
    .current--record {
        font-size: 1.2em;
        & img {
            max-height: 25vw;
            min-height: 25vw;
            min-width: 25vw;
        }
    }
}
@media (min-width: 1600px) {
    .current--record {
        font-size: 1.2em;
        & img {
            min-height: 19vw;
            max-height: 19vw;
            min-height: 19vw;
            min-width: 19vw;
        }
    }

}