/* Form  */
.form {
    color: black;
    font-size:0.6em;
}
form input, form button, select, input, .search--button {
    width: 100%;;
    margin-bottom: 1em;
    border-radius: 5px;
    padding:5px;
    border:none;
    box-shadow: 1px 1px 1px 0 lightgrey;
    align-self: center;
}
.genre--selectors {
   display:flex;
   justify-content: space-evenly;
   max-width: 100%;
   & select {
    min-width:32.5%;
    margin-left: 0.5em;
    margin-right: 0.5em;
   }
}
.submit--button {
    width: 101%;

@media (min-width: 768px) {
    .data--val--msg {
    font-size:3em;
    color:red;
        & li {
        padding: 0 1.5em;
        }
    } 

}
@media (min-width: 1400px) {
    form {
        width: 50vw;
        min-height: 80vh;
        margin-left:0.5em;
    }
    }
}