@import 'mixins';   
.new--records .page--header {
    &:before {
        width:2.9em;
    }
}
.featured--records .page--header {
    padding-top: 1.5em;
    &:before {
        top: 2.7em;
        left: 4em;
        width: 5em;
    }
}
.new--record--container {
    font-size:2em;
    padding-bottom: 7em;
    .record {
        min-height: 80vh;
    }
}
@media(min-width: 768px) {
    .new--record--container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 0.7em;
        & .record  {
            padding-left: 0.5em;;
            min-height:40vw;
            min-width:25vw;; 
            max-width: 25vw;; 
            max-height: 60vw;        
            & img {
            max-width:23.5vw;
            min-width:23.5vw;
            max-height:23.5vw;
            min-height:23.5vw;
            }
            & button {
                font-size:0.6em;
            }
        }
    }
} 
@media(min-width: 1200px) {
    .new--record--container {
        font-size: 0.7em;
    }
}