@import 'mixins';
nav h1 {
    font-sizE:2.3em;
    align-self: center;
 }
.logo--container {
    height: 100%;
}
nav {
    width: 100%;
    display: flex;
    font-size:0.4em;
    margin:0;
    background: linear-gradient(rgb(66, 66, 66), rgb(34, 34, 34));
    color:white;
    border-bottom: 1px solid rgb(161, 161, 161);
    height: 7vh;
}
ul {
    display:flex;
    width:72%;
    justify-content: space-between;
    align-items: center;
    margin-left:-4.7em;
    margin-top:3em
}

li {
    list-style: none;
    align-self: center;
}
.nav--item {
    text-decoration: none;
    letter-spacing: 1px;
    &:hover {
        background-color:rgb(56, 56, 56);
    }
    &:visited {
        text-decoration: none;
        color:white;
    }
    font-size: 1.5em;
    padding:2.5em 0.5em;
    margin:0;
}
.nav--buttons {
    margin-left: 10%;
    width:30%;
    display: flex;
}
.image--record {
    margin-bottom:1em;
    height:25px;
    align-self: center;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 50%;;
}
.cart--container {
    align-self: flex-end;
    position: relative;
    margin-left: -3em;
    margin-right: 0.2em;
}
.counter {
    background-color: rgb(255, 220, 220);
    border-radius: 50%;
    padding: 0.3em;
    position: absolute;
    top: -5px;
    lefT: -5px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    &:visited {
        text-decoration: none;
        color:white;
    }
}
.cart {
    height: 25px;
    border: 1px solid black;
    margin:0;
    background-color: lightgrey;
    border-radius: 5px;

}

.home--link {
    text-decoration: none;
    color:white;
    &:visited {
        text-decoration: none;
        color:white;
    }
}
.toggle--dark--mode--dark {
        align-self: center;
        width:9em;
        height:4em;
        position: relative;
        display: block;
        background: #ebebeb;
        border-radius: 200px;
        box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
        cursor: pointer;
        &:after {
            content: "";
            width:22px;
            top:0px;
            right:0px;
            height: 22px;
            position: absolute;
            background: linear-gradient(180deg,#2b2b2b,#343434);
            border-radius: 180px;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
          }
}
.toggle-dark--mode--light {
    align-self: center;
    width:9em;
    height:4em;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    &:after {
        content: "";
        width:22px;
        top:0px;
        lefT:1px;
        height: 21px;
        position: absolute;
        background: linear-gradient(180deg,#ececec,#bfbfbf);
        border-radius: 180px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
      }
}
.logo--container {
    margin: 1em 1em 0 1.5em;
    displaY:flex;
}

.auth--btn {
    @include button;
    font-sizE:0.9em;
    width:6em;
    height:4em;
    margin: 0 1em;
    background-color: #bfbfbf;
    color:#343434;
}
@media (min-width: 768px) {
    .toggle-dark--mode--light {
        width:4em;
        height:2em;
    }
    .toggle--dark--mode--dark {
        width:4em;
        height:2em;
    }
    .auth--btn {
        font-sizE:0.89em;
        width:6em;
        height:2em;
        margin: 0 1em;
    }
    ul {
        width:100%;
        margin-top:1.5em;
    }
    nav h1 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }
    .nav--item {
        padding:  1.9em 1em;
        font-size: 1em;
        margin-left: 2em
    }
    .image--record {
        margin-bottom: 2em;
    }
    li {
        padding: 0.4em;
        width:100%;
    }
    .counter {
        font-sizE: 0.75em;
        top: -10px
    }
    .cart--container {
        scale: 1.1;
    }
}
