/* New Records */
.preview--title {
    margin-left:1em;
}
.preview--artist {
    font-size: 0.3em;
}
.preview--record--image {
    width: 40%;
    margin: 0 2em;
}
.preview--new--record {
    padding-bottom: 4ems;
}
.preview--record--container .page--header {
    &:before {
        width:5.3em;
    }
}
@media (min-width: 768px) {
    .preview--title, .preview--new--record {
        font-size: 0.7em;
    }
    .preview--title {
        margin-left:2em;
    }
    .new--record--container .page--header {
        &:before {
            width:6em;
        }
    }
    .preview--record--image {
        max-width: 25%;
        min-height: 25%
    }
}
@media (min-width: 1500px) {
    .new--record--page {
        display: flex;
    }
    .preview--record--image {
        max-width: 50%;
        height: 50%
    }
}